<ul>
	<li class='<%= controller.controller_name == 'transacoes' ? 'ativo' : '' %>'><%= link_to('Transações', transacoes_path) %></li>
	<li class='<%= controller.controller_name == 'caixas' ? 'ativo' : '' %>'><%= link_to('Caixas', caixas_path) %></li>
</ul>
